* {
    margin: 0;
    transition: .3s;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    list-style-type: none;
    text-decoration: none;
}

.header__nav-list-text.active {
    color: #333;
    font-size: 21px;
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background-color: #44c692;
}

.header__nav-logo {
    width: 30%;
    display: flex;
    justify-content: center;
}

.header__nav-logo img {
    width: 250px;
    height: 130px;
    cursor: pointer;
    transition: .3s;
}

.header__nav-logo img:hover {
    transform: scale(1.02);
}

.header__nav-list-link {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}

.header__nav-list-text {
    list-style-type: none;
    text-decoration: none;
    color: #909090;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}

.nav-menu {
    display: none;
}

.nav-menu-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 80px;
}

.nav-menu__list-mobile-phone p {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 30px;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menu__list {
    margin-top: 80px;
    margin-left: 30px;
}

.nav-menu__list-mobile-phone,
.nav-menu__list-items {
    list-style-type: none;
}

.nav-menu__list-items a {
    line-height: 3;
    text-decoration: none;
    color: #333;
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
}

.nav-menu__list-items span {
    padding-left: 4.5px;
}

.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

.nav-menu__list-mobile-phone {
    right: 50px;
    bottom: 30px;
    position: absolute;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.nav-menu__list-mobile-phone img {
    width: 80px;
    height: 80px;
}

.display {
    display: block;
}

.homepage-icon,
.category-icon,
.about-icon {
    font-size: 30px;
}

.location-icon {
    font-size: 40px;
}

.bold {
    font-weight: 500;
}

.header__nav-list-text:hover {
    color: #333;
}

.header__nav-list-link {
    transition: .3s linear;
}

.header__nav-list-link:hover {
    transform: scale(1.1);
}

.header__nav-contact {
    display: flex;
    align-items: center;
    margin-right: 230px;
}

.header__nav-contact img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: .3s;
    cursor: pointer;
}

.nav-mobile-bar {
    color: white;
    display: none;
    font-size: 60px;
    padding-right: 40px;
}

.header__nav-contact-des-content {
    font-size: 17px;
}

.header__nav-contact img:hover {
    transform: scale(1.1);
}

.text {
    font-family: 'Roboto', sans-serif;
}

.header__slider {
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.header__slider-image {
    margin-top: 20px;
}

.header__slider-image img {
    width: 90%;
    height: 800px;
    margin: auto;
}

.slick-dots {
    font-size: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center !important;
    justify-items: center !important;
    gap: 0 20px;
    padding-bottom: 20px;
}

.slick-dots button {
    cursor: pointer;
    transform: translateX(-50%);
    border: none;
    outline: none;
    width: 20px;
    height: 5px;
    border-radius: 10px;
    transition: .3s;
}

.slick-dots .slick-active button {
    background-color: #959595;
}

.main-content {
    margin-top: 100px;
}

.main-content__first-goods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
}

.main-content__first-goods:hover .main-content__first-goods-items-f:not(:hover),
.main-content__first-goods:hover .main-content__first-goods-items-s:not(:hover),
.main-content__first-goods:hover .main-content__first-goods-items-t:not(:hover),
.main-content__first-goods:hover .main-content__first-goods-items-n:not(:hover) {
    transform: scale(0.95);
}

.main-content__first-goods-items-n,
.main-content__first-goods-items-f,
.main-content__first-goods-items-s,
.main-content__first-goods-items-t {
    width: 360px;
    height: 300px;
}

.main-content__first-goods-items-f {
    background-color: #d3d9e5;
    border-radius: 12px;
}

.main-content__first-goods-items-s {
    background-color: #f4dfef;
    border-radius: 12px;
}

.main-content__first-goods-items-t {
    background-color: #deeed3;
    border-radius: 12px;
}

.main-content__first-goods-items-n {
    background-color: #e7edd1;
    border-radius: 12px;
}

.main-content__first-goods-items-header {
    margin-top: 40px;
    margin-left: 40px;
    color: rgba(15, 15, 15, 0.8);
    font-weight: 500;
    font-size: 18px;
}

.main-content__first-goods-items-main {
    margin-top: 20px;
    margin-left: 40px;
    color: #333;
    font-weight: 700;
    font-size: 40px;
}

.main-content__first-goods-items-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content__first-goods-items-footer:hover {
    transform: scale(1.1);
}

.main-content__first-goods-items-footer p {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.8);
    transition: .3s;
}

.main-arrows {
    font-size: 60px;
    color: #333;
    padding-right: 10px;
    transition: .3s;
}

.footer {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 680px;
    background-image: linear-gradient(rgba(40, 40, 40, 0.97), #282828), url(../img/pill_bottle_spilling_next_to_book_649855786.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer__first-content-maps {
    margin-top: 40px;
    border: 4px solid #44c692;
    overflow: hidden;
}

.footer__first-content-maps img {
    width: 300px;
    height: 100%;
    transition: .3s;
    cursor: pointer;
}

.footer__first-content-maps img:hover {
    transform: scale(1.5);
}

.footer__first-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.footer__first-content-r {
    padding-top: 70px;
}

.footer__first-content-r-contactUs {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer__first-content-r-location span,
.footer__first-content-r-contact span {
    color: #44c692;
    font-weight: 500;
    line-height: 25px;
}

.footer__first-content-r-location,
.footer__first-content-r-contact {
    color: white;
    margin-bottom: 10px;
}

.footer__first-content-l {
    position: relative;
    margin-top: 20px;
}

.footer__first-content-l-image {
    width: 200px;
    height: 100px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer__first-content-l-text {
    color: white;
}

.main-content__partners-first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content__partners-bar-l,
.main-content__partners-bar-r {
    border-bottom: 1px solid rgba(40, 40, 40, 0.2);
    width: 42%;
}

.main-content__partners {
    margin-top: 80px;
    display: flex;
    flex-direction: column;

}

.main-content__partners-text {
    color: rgba(37, 34, 34, 0.5);
    font-size: 14px;
    font-weight: 500;
    width: 8%;
    text-align: center;
}

.main-content__partners-image {
    margin-top: 30px;
}

.main-content__partners-image img {
    width: 190px;
    height: 100px;
    box-shadow: 0px 0px 4px 1px rgba(19, 18, 18, 0.2);
    border-radius: 12px;
    margin: 10px auto;
}

.footer__email {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.footer__email-l {
    display: flex;
    align-items: center;
}

.femail-icon {
    padding-right: 10px;
    font-size: 60px;
    color: white;
}

.footer__email-l-text {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.footer__email-submit-form {
    background-color: white;
    width: 50%;
    height: 70px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__email-submit-form input {
    padding-left: 30px;
    border: none;
    outline: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer__email-submit-form button {
    margin-right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    background-color: #36b481;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    transition: .3s;
}

.footer__email-submit-form button:hover {
    transform: scale(1.02);
}

.insta-icon,
.face-icon,
.twit-icon,
.phone-icon {
    color: white;
    font-size: 30px;
    display: inline-block;
    transition: .3s;
}

.insta-icon:hover,
.face-icon:hover,
.twit-icon:hover,
.phone-icon:hover {
    transform: scale(1.1);
}

.copyright-icon a {
    text-decoration: none;
}

.copyright-icon a:hover {
    transform: scale(1.5);
}


.footer__copyright-content {
    color: white;
}

.footer__copyright {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid_footer {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.text2 {
    font-size: 20px;
}

/* Mobile */
@media screen and (max-width: 21.25em) {
    .header__nav-contact,
    .header__nav-list {
        display: none;
    }

    .nav-mobile-bar {
        padding-right: 0;
    }

    .header__nav-logo img {
        height: 80px;
        left: 0;
        margin-left: 50px;
    }

    .header__nav {
        height: 80px;
        justify-content: space-between;
    }

    .header {
        height: 420px;
    }

    .nav-mobile-bar {
        display: block;
    }

    .footer__email-submit-form input {
        width: 10px;
    }

    .main-content__first-goods-items-n,
    .main-content__first-goods-items-f,
    .main-content__first-goods-items-s,
    .main-content__first-goods-items-t {
        width: 300px;
        height: 280px;
        text-align: center;
        margin-bottom: 50px;
    }

    .main-content__first-goods-items-header {
        margin-left: 0;
    }

    .main-content__partners-text {
        width: 40%;
    }

    .main-content__first-goods-items-main {
        margin-left: 0;
    }

    .footer__email-l {
        display: flex;
        align-items: center;
    }

    .footer__first-content-l {
        margin-top: 0;
    }

    .footer {
        margin-top: 10px;
        height: 1150px;
    }

    .header__slider-image img {
        width: 360px;
        height: 300px;
    }

    .fa-bars {
        padding-bottom: 17px;
        font-size: 40px;
        margin-right: 20px;
    }

    .footer__email-l-text {
        font-size: 20px;
    }

    .main-content__partners-image {
        margin-top: 10px;
    }

    .footer__first-content-l-text {
        font-size: 25px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .nav-menu__list-items a {
        line-height: 3;
        text-decoration: none;
        color: #333;
        font-size: 20px;
        font-weight: 500;
    }

    .nav-menu__list {
        margin-top: 100px;
        margin-left: 0;
        padding-left: 20px;
    }

    .nav-menu-close {
        font-size: 50px;
    }

    .nav-menu__list-mobile-phone img {
        width: 50px;
        height: 50px;

    }

    .nav-menu__list-mobile-phone{
        right: 20px;
    }

    .nav-menu__list-mobile-phone p {
        font-size: 20px;
    }

    .grid_footer {
        width: 100%;
    }

    .footer__first-content {
        padding-top: 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer__first-content-r {
        padding-top: 130px;
        padding-bottom: 10px;
    }

    .text2 {
        font-size: 18px;
        text-align: center;
    }

    .footer__first-content-r-contactUs {
        font-size: 25px;
    }

    .footer__first-content-maps img {
        border-radius: 12px;
        width: 300px;
    }

    .footer__first-content-maps img:hover {
        transform: none;
    }

    .footer__first-content-maps {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border: none;
        margin-bottom: 20px;
    }

    .footer__email {
        margin-top: 20px;
        flex-direction: column;
        padding-bottom: 85px;
    }

    .footer__email-submit-form {
        margin-top: 10px;
        position: relative;
        width: 280px;
        height: 50px;
    }

    .footer__email-submit-form input {
        width: 200px;
        font-size: 17px;
        height: 40px;
    }

    .footer__email-submit-form button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 130px;
        width: 150px;
        height: 50px;
        font-size: 17px;
    }

    .footer__email-submit-form button:hover{
        transform: translateX(-50%);
    }

    .footer__copyright {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .footer__copyright-content {
        padding-top: 17px;
        font-size: 11px;
    }

    .nav-menu {
        transition: .4s;
        position: fixed;
        display: block;
        z-index: 9999;
        background-color: #44c692;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width:568px) {
    .header__nav-contact,
    .header__nav-list {
        display: none;
    }

    .nav-mobile-bar {
        padding-right: 0;
    }

    .header__nav-logo img {
        height: 80px;
        left: 0;
        margin-left: 50px;
    }

    .header__nav {
        height: 80px;
        justify-content: space-between;
    }

    .header {
        height: 420px;
    }

    .nav-mobile-bar {
        display: block;
    }

    .footer__email-submit-form input {
        width: 10px;
    }

    .main-content__first-goods-items-n,
    .main-content__first-goods-items-f,
    .main-content__first-goods-items-s,
    .main-content__first-goods-items-t {
        width: 300px;
        height: 280px;
        text-align: center;
        margin-bottom: 50px;
    }

    .main-content__first-goods-items-header {
        margin-left: 0;
    }

    .main-content__partners-text {
        width: 40%;
    }

    .main-content__first-goods-items-main {
        margin-left: 0;
    }

    .footer__email-l {
        display: flex;
        align-items: center;
    }

    .footer__first-content-l {
        margin-top: 0;
    }

    .footer {
        margin-top: 10px;
        height: 1150px;
    }

    .header__slider-image img {
        width: 360px;
        height: 300px;
    }

    .fa-bars {
        padding-bottom: 17px;
        font-size: 40px;
        margin-right: 20px;
    }

    .footer__email-l-text {
        font-size: 20px;
    }

    .main-content__partners-image {
        margin-top: 10px;
    }

    .footer__first-content-l-text {
        font-size: 25px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .nav-menu__list-items a {
        line-height: 3;
        text-decoration: none;
        color: #333;
        font-size: 20px;
        font-weight: 500;
    }

    .nav-menu__list {
        margin-top: 100px;
        margin-left: 0;
        padding-left: 20px;
    }

    .nav-menu-close {
        font-size: 50px;
    }

    .nav-menu__list-mobile-phone img {
        width: 50px;
        height: 50px;

    }

    .nav-menu__list-mobile-phone{
        right: 20px;
    }

    .nav-menu__list-mobile-phone p {
        font-size: 20px;
    }

    .grid_footer {
        width: 100%;
    }

    .footer__first-content {
        padding-top: 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer__first-content-r {
        padding-top: 130px;
        padding-bottom: 10px;
    }

    .text2 {
        font-size: 18px;
        text-align: center;
    }

    .footer__first-content-r-contactUs {
        font-size: 25px;
    }

    .footer__first-content-maps img {
        border-radius: 12px;
        width: 300px;
    }

    .footer__first-content-maps img:hover {
        transform: none;
    }

    .footer__first-content-maps {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border: none;
        margin-bottom: 20px;
    }

    .footer__email {
        margin-top: 20px;
        flex-direction: column;
        padding-bottom: 85px;
    }

    .footer__email-submit-form {
        margin-top: 10px;
        position: relative;
        width: 280px;
        height: 50px;
    }

    .footer__email-submit-form input {
        width: 200px;
        font-size: 17px;
        height: 40px;
    }

    .footer__email-submit-form button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 130px;
        width: 150px;
        height: 50px;
        font-size: 17px;
    }

    .footer__email-submit-form button:hover{
        transform: translateX(-50%);
    }

    .footer__copyright {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .footer__copyright-content {
        padding-top: 17px;
        font-size: 11px;
    }

    .nav-menu {
        transition: .4s;
        position: fixed;
        display: block;
        z-index: 9999;
        background-color: #44c692;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
    }
}
.show-menu {
    right: 0;
}